/* 
Together-1
 */
body{
	background:#B3B3B3;
	font-size: 15px;

}

header{
	background: #F2F3F5;
	text-align: center;
padding:15px;
font-size:24px;
Width:100%;
}

h1{
	color: #3578E5;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 13px;
}

h2{
	color: #000000;
	background: #00b7ea;
	text-align: center;
}
p{ 
	text-align: justify;
}
summary{
	font-style:normal;
}

details{
	font-style: italic;
}


footer{
	background: #666666
}
