/* 
Together-1
 */
body{
	background:#B3B3B3;
	font-size: 15px;
	text-align: center;


}

header{
	background: #F2F3F5;
	text-align: center;
	font-size:200%;
  padding: 2%;
  font-weight: bold;

}

h1{
	color: #3578E5;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 13px;
  
}

h2{
	color: #000000;
	background: #00b7ea;
	text-align: center;
}
a{
  border: 4px solid #FF0000;
  background: #ffffff;
	border-radius:15px;
 	width:14%;
	margin-right: 4%;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
	display:inline-block;
	float:none;
}
a:hover{
  color: #000000;
	background: #00FF00;
}
a:active{
  border: 4px solid #FF0000;
}
p{ 
	text-align: justify;
}
summary{
	font-style:normal;
}

details{
	font-style: italic;
}
.active{
  border: 4px solid #000000;
  background: #00b7ea;

footer{
	background: #666666
}

